@import url('https://cdn.rawgit.com/mfd/e7842774e037edf15919037594a79b2b/raw/665bdfc532094318449f1010323c84013d5af953/graphik.css');

brand-color = #FF4D01

*
  box-sizing border-box
  margin 0

.wrapper
  padding 0 120px
  font-family 'graphik'
  font-size 19px

a 
  text-decoration none !important

.bg_color
  background-color #EFEFEF

.navbar__margin
  margin 20px 0

.navbar__label
  text-transform uppercase
  font-weight 600

.orange_link a
  color brand-color

.orange_link a:hover
  color brand-color

.display_block
  display block

.sign_up
  width 140px
  height 90px
  padding 37px 25px
  border 1px solid brand-color
  border-radius 50%
  text-transform uppercase
  font-weight 600
  color brand-color
  font-size 12px

ul
  list-style-type none
  padding 0

.fs16
  font-size 16px

.black_link a
  color #000

.black_link a:hover
  color #000

.navbar__your_way
  color brand-color

.navbar__your_way_wrapper
  display flex
  align-items center

.navbar__line
  width 160px
  border-top 1px solid brand-color
  margin-right 15px

.poster
  padding-top 88px
  margin-bottom 100px

.heading1
  margin-bottom 122px
  text-align center
  color brand-color
  font-weight 600
  font-size 87px

.how_work *
  // border 1px solid blue

.heading2 
  margin-bottom 34px
  font-size 60px
  font-weight 600

.subtitle
  font-weight 600
  color brand-color
  text-transform uppercase
  margin-bottom 54px

.how_work__cards 
  margin-bottom 106px

.how_work__card
  display flex

.how_work__card__circle 
  margin-right 40px
  width 50px
  height 50px
  border-radius 50%
  font-size 12px
  color #fff
  text-align center
  line-height 50px
  background-color brand-color

.how_work__card__content
  width 260px

.how_work__card__heading
  line-height 40px
  font-weight 600

.your_way
  margin-bottom 190px

.mb110
  margin-bottom 110px

.your_way__line
  margin-bottom 20px
  width 100%
  border-top 1px solid brand-color
  margin-top 40px
  margin-bottom 20px

.your_way__odd
  display flex

.mr40
    margin-right 40px

.your_way__number
  color brand-color
  font-weight 600

.your_way__card_heading
  font-weight 600
  text-transform uppercase
  margin-bottom 20px

.your_way__interview
  margin-left -40px

.companies
  margin-bottom 175px

.heading3
  font-size 36px
  font-weight 600
  margin-bottom 63px

.companies__table
  border-collapse collapse
  width 100%

.companies__tr
  border 1px solid brand-color

.companies__td
  border 1px solid brand-color
  width 25%
  height 150px
  text-align center
  vertical-align middle

.cases
  margin-bottom 183px

.mb120
  margin-bottom 120px

.cases__card
  height 600px

.cases__card_info
  display flex
  flex-direction column
  justify-content space-between

.cases__photo
  width 150px
  height 150px
  margin-bottom 25px

.cases__card_heading
  font-weight 600
  margin-bottom 20px

.arrow
  cursor pointer

.mr90
  margin-right 90px

.cases__card_project
  display flex
  justify-content center
  background-color #242424
  padding 40px 40px 40px 40px

.cases__card_project_img
  width 380px
  height 380px

.cases__card_project_img1
  align-self flex-start
  margin-right 10px

.cases__card_project_img2
  align-self flex-end
  margin-left 10px

.consult
  font-size 18px
  margin-bottom 120px

.consult_heading
  margin-bottom 36px

.consult__form_p
  margin-bottom 30px

.consult__form_wrapper
  width 100%
  height 50px
  margin-bottom 10px
  font-size 14px
  color brand-color
  border-bottom 1px solid brand-color

.consult__form_label
  display inline-block
  width 15%
  height 100%
  line-height 50px
  text-transform uppercase
  font-weight 600

.consult__form_input
  float right
  width 85%
  height 100%
  background-color inherit
  border none

.consult__form_input:focus
  outline none

.consult__form_footer
  height 90px
  margin-top 50px
  display flex
  justify-content space-between
  align-items center

.consult__form_footer_p
  display inline-block
  margin-top 16px
  width 260px
  font-size 12px

.consent
  cursor pointer
  font-size 12px
  color brand-color

.foot
  padding-top 30px
  padding-bottom 30px
  background-color brand-color
  height 190px
  color #fff

.foot__height
  height 100%

.foot__vertical_flex
  display flex
  flex-direction column
  justify-content space-between

.foot__name
  font-weight 600

.foot__info *
  display block
  font-size 16px

.white_link a
  color #fff
  text-decoration none !important

.white_link a:hover
  color #fff

.uppercase
  text-transform uppercase

.fs12
  font-size 12px

.foot__links
  display flex
  justify-content space-between