// @import url('https://cdn.rawgit.com/mfd/e7842774e037edf15919037594a79b2b/raw/665bdfc532094318449f1010323c84013d5af953/graphik.css');

brand-color = #FF4D01
project-bg-color = #242424

*
  box-sizing border-box
  margin 0

html
  font-size 19px

.wrapper
  padding 0 120px
  font-family 'Graphik LCG'

a 
  text-decoration none !important

.bg_color
  background-color #EFEFEF

.menu 
  display none

.navbar__container
  display flex
  justify-content flex-start
  margin 20px 0

.navbar__row
  width 25%

.navbar__label
  text-transform uppercase
  font-weight 600

.orange_link a
  color brand-color

.orange_link a:hover
  color brand-color

.display_block
  display block

.sign_up
  width 140px
  height 90px
  padding 37px 25px
  border 1px solid brand-color
  border-radius 50%
  text-transform uppercase
  font-weight 600
  color brand-color
  font-size 12px

.navbar__menu
  display none

ul
  list-style-type none
  padding 0

.fs16
  font-size 16px

.black_link a
  color #000

.black_link a:hover
  color #000

.navbar__your_way
  color brand-color

.active_nav_item
  display flex
  align-items center
  white-space nowrap

.navbar__line
  width 160px
  border-top 1px solid brand-color
  margin-right 15px

.poster
  padding-top 88px
  margin-bottom 100px
  text-align center

.heading1
  margin-bottom 122px
  text-align center
  color brand-color
  font-weight 500
  font-size 87px

.poster__img
  max-width 100%

.poster__sign_up
  display none

.heading2 
  width 90%
  margin-top 100px
  margin-bottom 34px
  font-size 60px
  font-weight 500

.subtitle
  font-weight 500
  color brand-color
  text-transform uppercase
  margin-bottom 54px

.how_work__cards 
  display flex
  justify-content flex-end
  flex-wrap wrap
  margin-bottom 106px

.how_work__card
  display flex
  width 35%

.how_work__card__circle
  display flex
  justify-content center
  align-items center
  margin-right 40px
  width 50px
  height 50px
  border-radius 50%
  font-size 12px
  color #fff
  line-height 50px
  background-color brand-color

.how_work__card__content
  width 260px

.how_work__card__heading
  line-height 40px
  font-weight 500

.your_way
  margin-bottom 190px

.mb110
  margin-bottom 110px

.your_way__line
  margin-bottom 20px
  width 100%
  border-top 1px solid brand-color
  margin-top 40px
  margin-bottom 20px

.your_way__card
  display flex

.your_way__card_wrapper
  display flex
  width 80%

.your_way__even
  display flex
  justify-content space-between

.mr40
  margin-right 40px

.your_way__number
  color brand-color
  font-weight 600

.your_way__img
  margin-right 60px

.your_way__card_heading
  font-weight 500
  text-transform uppercase
  margin-bottom 20px

.your_way__interview
  margin-left -40px

.companies
  margin-bottom 175px

.center_heading
  display flex
  justify-content center

.heading3
  width 50%
  font-size 36px
  font-weight 500
  margin-bottom 63px

.companies__table
  border-collapse collapse
  width 100%

.companies__tr
  border 1px solid brand-color

.companies__td
  border 1px solid brand-color
  width 25%
  height 150px
  text-align center
  vertical-align middle

.cases
  margin-bottom 183px

.cases_heading
  width 52%
  margin 0 auto 120px

.cases__card
  display flex
  min-height 600px

.cases__card_wrapper
  display flex
  flex-direction column
  justify-content space-between

.cases__card_info
  display flex
  flex-direction column
  justify-content space-between

.cases__photo
  width 150px
  height 150px
  margin-bottom 25px

.cases__card_heading
  font-weight 500
  margin-bottom 20px

.arrow
  cursor pointer

.left_arrow
  margin-right 90px

.cases__card_project
  display flex
  justify-content center
  background-color project-bg-color
  padding 40px 40px 40px 40px

.cases__card_project_img
  width 380px
  height 380px

.cases__card_project_img1
  align-self flex-start
  margin-right 10px

.cases__card_project_img2
  align-self flex-end
  margin-left 10px

.consult
  font-size 18px
  margin-bottom 120px

.consult__form
  width 50%
  margin 0 auto

.consult_heading
  width 100%
  margin-bottom 36px

.consult__form_p
  margin-bottom 30px

.consult__form_wrapper
  width 100%
  height 50px
  margin-bottom 10px
  font-size 14px
  color brand-color
  border-bottom 1px solid brand-color

.consult__form_label
  display inline-block
  width 15%
  height 100%
  line-height 50px
  text-transform uppercase
  font-weight 600

.consult__form_input
  float right
  width 85%
  height 100%
  background-color inherit
  border none

.consult__form_input:focus
  outline none

.consult__form_footer
  height 90px
  margin-top 50px
  display flex
  justify-content space-between
  align-items center

.consult__form_footer_p
  display inline-block
  margin-top 16px
  width 260px
  font-size 12px

.consent
  cursor pointer
  font-size 12px
  color brand-color

.foot
  display flex
  justify-content space-between
  min-height 190px
  padding-top 25px
  padding-bottom 25px
  background-color brand-color

.foot__left_col
  width 50%
  display flex
  flex-direction column
  justify-content space-between

.foot__right_col
  width 50%
  display flex
  justify-content space-between

.foot__name
  font-weight 600
  color #fff

.white_link a
  color #fff
  text-decoration none !important

.white_link a:hover
  color #fff

.info_text
  text-transform uppercase
  font-size 12px
  font-weight 500

.foot__contacts
  display flex
  flex-direction column
  justify-content space-between

.foot__contacts span
  display block
  font-weight 400
  color #fff

.foot__links
  display flex
  justify-content space-between

.foot__links span:not(:last-child)
  margin-right 15px

@media (min-width: 801px)
  body
    overflow auto !important
  .menu
    display none !important

@media (max-width: 800px)
  html
    font-size 21px

  .wrapper
    padding 0 15px
    font-family 'Graphik LCG'

  .navbar__container
    justify-content space-between
    align-items center
    margin 35px 0

  .navbar__sign_up
    display none

  .navbar__line
    display none

  .nav_list
    display none

  .navbar__menu
    display block 
    float right 
    color brand-color
    font-weight 500
    cursor pointer

  .poster
    padding-top 43px
    margin-bottom 90px

  .heading1
    font-size 52px

  .poster__sign_up_wrapper
    display flex
    justify-content flex-end

  .poster__sign_up
    display block
    margin-top 90px

  .heading2 
    width 100%
    margin-bottom 28px
    font-size 42px
    font-weight 500

  .subtitle
    width 80%
    margin-bottom 37px

  .how_work__cards 
    justify-content flex-start
    flex-wrap wrap
    margin-bottom 0

  .how_work__card
    flex-wrap wrap
    width 100%
    margin-bottom 36px

  .how_work__card__circle 
    width 45px
    height 45px
    margin-bottom 10px

  .how_work__card__content
    width 100%

  .your_way
    margin-bottom 75px

  .your_way__card
    flex-direction column

  .your_way__card_wrapper
    flex-direction column
    align-items center
    justify-content center
    width 100%

  .your_way__img
    margin auto
    margin-bottom 20px

  .your_way__last_line
    display none

  .center_heading
    display flex
    justify-content flex-start

  .companies
    margin-bottom 83px

  .heading3
    font-size 42px
    width 80%
    margin-bottom 38px

  .companies__td
    display block
    width 100%

  .cases
    margin-bottom 90px

  .cases_heading
    width 100%
    margin-bottom 37px
    .heading3
      width 100%

  .cases__card
    flex-direction column-reverse
    min-height 400px

  .cases__card_wrapper
    align-items center

  .cases__card_project
    width 100%
    height 240px
    margin-bottom 45px
    padding 15px

  .cases__card_project_img
    width 150px
    height 150px

  .cases__card_info
    flex-direction row
    justify-content space-between
    font-size 12px
    margin-bottom 40px

  .cases__photo
    width 90px
    height 90px
    margin 0 30px 25px 0

  .consult__form
    width 100%

  .consult__form_footer
    flex-direction row-reverse

  .consult
    margin-bottom 30px

  .foot
    display none

  .menu
    display none // скрыть меню
    position absolute
    top 0
    width 100%
    height 100%
    overflow auto
    background-color brand-color
    color #fff
  
  .menu__back
    font-weight 500
    cursor pointer

  .menu__list
    margin-bottom 90px

  .menu__item
    display flex
    align-items center
    height 75px
    padding 0 30px
    border-bottom 1px solid #fff

  .menu__item_text
    font-size 42px
    font-weight 500

  .menu__info
    display flex
    flex-direction column
    justify-content space-between
    margin-bottom 43px
    padding 0 45px

  .menu__contact_wrapper
    width 70%
    margin-bottom 90px

  .menu__contact_wrapper *
    display block

  .menu__contact_wrapper >:not(:last-child)
    margin-bottom 30px

  .menu__contacts *:not(:last-child)
    margin-bottom 15px
